<div class="flex whole hunHeight">

	<div class="mainContain hunHeight">
		<dir-header></dir-header>

		<div class="mainPageHeadline zeroAuto flex between">
			<div>See who's better than you!</div>
			<div class="flex around">
				<select class="searchBox halfText widthEm7" ng-options="option.value as option.text for option in queryOptions" ng-model="selected"></select>
				<button class="genericBtn widthEm4" ng-click="getMustacheByDate(selected)">find</button>
			</div>
		</div>

		<div class="scroll hMax76">
			<dir-profile-item class="flex wrap around" mustache-data="mustacheData"></dir-profile-item>
		</div>
	</div>

	<div class="sideContain">
		<dir-sidebar></dir-sidebar>
	</div>
</div>