<article>
	<div class="relative whole">
		<div class="splashTitle splTitleTop">Mustache</div>
		<div class="splashTitle splTitleBottom">Wars</div>
		<div class="absolute bottomLeft dblText splForm">
			<div ng-show="showText1" class="textCenter">Respect must be earned.</div>
			<div ng-show="showText2" class="textCenter">You should be winning!</div>
			<button class="splashBtn"><a href="/auth/facebook">play</a></button>
		</div>
	</div>
</article>
<video autoplay id="video-background" muted>
  <source src="http://v600.canstockphoto.com/can-stock-photo_csp26223771.mp4" type="video/mp4">
</video>