<article>
	<div class="relative whole hunHeight">
		<div class="splashTitle splTitleTop">The Mustache</div>
		<div class="splashTitle splTitleBottom">Games</div>
		<div class="absolute bottomLeft dblText splForm">
			<div ng-show="showText1" class="textCenter">Respect must be earned.</div>
			<div ng-show="showText2" class="textCenter">You should be winning!</div>
			<a href="/auth/facebook"><button class="splashBtn">play</button></a>
		</div>
	</div>
</article>
<video autoplay id="video-background" muted>
  <source src="http://v600.canstockphoto.com/can-stock-photo_csp26223771.mp4" type="video/mp4">
</video>